@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;




@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: rgb(18, 52, 82);

  /* カスタムカラー変数を追加 */
  --color-custom-blue: #9BC8BE;
  --color-custom-red: #FF6567;
  --color-custom-purple: #B900FF;

  --color-custom-blue-light:rgba(155, 200, 190, 0.47);
  --color-custom-red-light:rgba(255, 101, 103, 0.49);
  --color-custom-purple-light:rgba(185, 0, 255, 0.52);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background:rgb(18, 52, 82);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .bg-custom-red {
    background-color: var(--color-custom-red);
  }
  .bg-custom-blue {
    background-color: var(--color-custom-blue);
  }
  .bg-custom-purple {
    background-color: var(--color-custom-purple);
  }  
  
  .bg-custom-red-light {
    background-color: var(--color-custom-red-light);
  }
  .bg-custom-blue-light {
    background-color: var(--color-custom-blue-light);
  }
  .bg-custom-purple-light {
    background-color: var(--color-custom-purple-light);
  }
}